---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import Showcase from "@/components/mdx/Showcase.astro";

const sites = [{ name: "Frosti Demo", url: "https://frosti.saroprock.com/" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard
      title=""
      image = "/image/background.png"
    >
      <div class="space-y-10">
        <h1
            class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent leading-loose"
          >
            Friends & Resources
        </h1>
        <!-- Friends Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <span>ðŸŒŒ HnuSec</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                        <FriendCard
              name="Boogipop"
              avatar="https://ooo.0x0.ooo/2024/09/09/OtCYQb.jpg"
              description="HnuSec/WM/Web"
              url="https://boogipop.com"
              type="friend"
            />
            <FriendCard
              name="Air"
              avatar="https://p.sda1.dev/17/9a8c6ed91fa6f4cf13110dead02002c6/b_1f213820ba2b194d6a9213834b28fc08.jpg"
              description="HnuSec/Web"
              url="https://airkqx.github.io"
              type="friend"
            />
            <FriendCard
              name="Natro92"
              avatar="https://s3.bmp.ovh/imgs/2023/03/12/d3fe3843da0a1878.jpg"
              description="HnuSec/Web"
              url="https://natro92.fun"
              type="friend"
            />
            <FriendCard
              name="æ³ é¹‡"
              avatar="https://www.notion.so/image/attachment%3Aa3b4e8f1-054f-4973-a067-c6c873ec011a%3AIMG_5848.png?table=collection&id=27a4cea1-b73e-81c2-9ae8-000bdba7b466&t=27a4cea1-b73e-81c2-9ae8-000bdba7b466"
              description="HnuSec/Misc"
              url="http://blog.miaoaixuan.cn"
              type="friend"
            />
            <FriendCard
              name="CFIT"
              avatar="https://ooo.0x0.ooo/2024/09/02/Ot6MPY.png"
              description="HnuSec/Crypto&Web"
              url="https://cfit.top"
              type="friend"
            />
            <FriendCard
              name="m1n9"
              avatar="https://ooo.0x0.ooo/2024/11/27/OHwlGY.jpg"
              description="HnuSec/Nepnep/Crypto"
              url="https://mi1n9.github.io"
              type="friend"
            />
            <FriendCard
              name="Sdgree"
              avatar="https://bu.dusays.com/2023/10/30/653fbe0e449ad.png"
              description="HnuSec/NK/Misc&Web"
              url="https://sdegree.cn"
              type="friend"
            />
            <FriendCard
              name="Z1d10t"
              avatar="https://p.sda1.dev/17/bd25c5fecf932c8afe8dca1fa2b06807/Z1d10t.jpg"
              description="HnuSec/Web"
              url="https://www.z1d10t.fun"
              type="friend"
            />
            <FriendCard
              name="orxiain"
              avatar="http://q.qlogo.cn/headimg_dl?dst_uin=1193087005&spec=640&img_type=jpg"
              description="HnuSec/Web"
              url="https://orxiain.life"
              type="friend"
            />
            <FriendCard
              name="Ewoji"
              avatar="https://ooo.0x0.ooo/2024/09/02/Ot2wFU.jpg"
              description="HnuSec/Web"
              url="https://ewojii.com"
              type="friend"
            />
            <FriendCard
              name="Berial"
              avatar="https://berial123.oss-cn-beijing.aliyuncs.com/%E5%A4%B4%E5%83%8F1.JPG"
              description="HnuSec/XM/PWN"
              url="http://www.berial.cn"
              type="friend"
            />
            <FriendCard
              name="Tree-24"
              avatar="https://berial123.oss-cn-beijing.aliyuncs.com/tree.png"
              description="HnuSec/Re"
              url="https://treesec.cn"
              type="friend"
            />
          </div>
        </section>

        <!-- Contributors Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <span>â˜„ Other</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="ç³–é†‹å°é¸¡å—"
              avatar="https://p.sda1.dev/17/d31f2223b72e97cec4a74f7e22e622c9/xiaojikaui.jpg"
              description="God/NK/Crypto"
              url="https://tangcuxiaojikuai.xyz"
              type="friend"
            />
            <FriendCard
              name="adwa"
              avatar="https://languag3.github.io/images/avatar.jpg"
              description="ðŸ¦Œ/Crypto"
              url="https://languag3.github.io"
              type="friend"
            />
            <FriendCard
              name="LOV3"
              avatar="https://lov2.netlify.app/images/avatar.png?v=1732717306470"
              description="W4ntY0u/Crypto"
              url="https://lov2.netlify.app"
              type="friend"
            />
            <FriendCard
              name="DexterJie"
              avatar="https://dexterjie.github.io/images/0.jpg"
              description="XM/Crypto"
              url="https://dexterjie.github.io"
              type="friend"
            />
            <FriendCard
              name="Triode"
              avatar="https://triodelzx.github.io/img/512.png"
              description="SZU Aurora/SU-Team/Crypto"
              url="https://triodelzx.github.io"
              type="friend"
            />
            <FriendCard
              name="N1gh7ma12e"
              avatar="https://ooo.0x0.ooo/2023/12/20/OKh5ht.jpg"
              description="Birkenwald/V&N/Crypto"
              url="http://n1gh7ma12e.cn"
              type="friend"
            />
            <FriendCard
              name="Swizzer"
              avatar="https://pic.swizzer.cc/avatar.jpg"
              description="No, thanks!"
              url="https://blog.swizzer.cc"
              type="friend"
            />
            <FriendCard
              name="SeanDictionary"
              avatar="https://seandictionary.top/wp-content/uploads/2024/09/å“­å“­_é€æ˜Ž.png"
              description="X1cT34m/XMCVE/Crypto"
              url="https://seandictionary.top"
              type="friend"
            />
            <FriendCard
              name="W3nL0u"
              avatar="https://ooo.0x0.ooo/2024/11/16/OH4UUU.jpg"
              description="NK/RE"
              url="https://xyy9233.github.io"
              type="friend"
            />
            <FriendCard
              name="shenghuo2"
              avatar="https://blog.shenghuo2.top/images/avatar.png"
              description="NK/Misc"
              url="https://blog.shenghuo2.top"
              type="friend"
            />
            <FriendCard
              name="Cain"
              avatar="https://s21.ax1x.com/2024/04/09/pFOP6HS.png"
              description="NK/Full stack"
              url="https://www.cnblogs.com/cainyzb"
              type="friend"
            />
            <FriendCard
              name="LilRan"
              avatar="https://blog.xinshi.fun/assets/avatar.png"
              description="S1uM4i/W4terDr0p/Misc&Re"
              url="https://blog.xinshi.fun"
              type="friend"
            />
            <FriendCard
              name="Pr3d1ct"
              avatar="https://pr3d1ct-yuy4n.github.io/images/avatar.jpg"
              description="Crypto"
              url="https://pr3d1ct-yuy4n.github.io"
              type="friend"
            />
            <FriendCard
              name="CryingN"
              avatar="https://cryingn.github.io/images/profile.jpg"
              description="Sakana/Crypto"
              url="https://cryingn.github.io"
              type="friend"
            />
            <FriendCard
              name="Kicky_Mu"
              avatar="https://p.sda1.dev/17/ad94ea38dd3923fd4b3bdedd690a7a43/å¤´åƒ.jpg"
              description="Crypto&Misc"
              url="https://www.cnblogs.com/mumuhhh"
              type="friend"
            />
            <FriendCard
              name="nyyyddddn"
              avatar="https://nyyyddddn.github.io/favicon.png"
              description="PWN"
              url="https://nyyyddddn.github.io"
              type="friend"
            />
            <FriendCard
              name="averbeih"
              avatar="https://ooo.0x0.ooo/2023/12/20/OKhOeL.jpg"
              description="Crypto"
              url="https://averbeih.github.io"
              type="friend"
            />
            <FriendCard
              name="ä½™"
              avatar="https://p.sda1.dev/17/197a08dd39502f513ea24c7e655436df/yu.jpg"
              description="ä½™"
              url="https://x1a0yu.fun"
              type="friend"
            />
          </div>
        </section>
      </div>
    </MainCard>
  </CardGroup>
</BaseLayout>
